<div>
    <h1>login</h1>
    <form id="loginForm">
    <label> Email</label>
    <input name="email">
    <br/>
    <label>Contraseña</label>
    <input type="password">
    <input type="submit">
    </form>
    <p>¿No estas registradx? <a href="/register">Registrate aca!!</a></p>
</div>

<script src="../public/js/login.js"></script>