{{!-- <img src="Wallpaper.jpg" class="backgroundLogin"/> --}}
<div class="backgroundLogin">
     <h1 class="title">HELLO <br>
         BACKWORLD!!</h1>
    <div class="loginFormContainer">
    <form id="loginForm">
    <input class="loginInput" placeholder="Email" name="email">
    <br/>
    <input class="loginInput" placeholder="Password" name="password" type="text">
    <br>
    <input class="loginSubmit" Value="Log In" type="submit">
    </form>
    <p class="notRegister">¿No estas registradx? 
    <br>
    <a class="linkRegister" href="/register">Registrate aca!!</a>
    </p>
    <div class="githubPass">
        <img class="githublogo" src="img/github.png" alt="Logo de GitHub">
        <a href="/api/sessions/github"><button>Ingresar con GitHub</button></a>
    </div>
    </div>

</div>
<script src="/js/login.js"></script>
