{{!-- <img src="Wallpaper.jpg" class="backgroundLogin"/> --}}
<div class="backgroundLogin">
     <h1 class="title">HELLO <br>
         BACKWORLD!!</h1>
    <div class="loginFormContainer">
    <form id="loginForm">
    <input class="input" placeholder="Email" name="email">
    <br/>
    <input placeholder="password" name="password" type="text">
    <br>
    <input type="submit">
    </form>
    <p>¿No estas registradx? 
    <br>
    <a href="/register">Registrate aca!!</a>
    </p>
    </div>
</div>
<script src="/js/login.js"></script>
