<div class="registerContainer">
    <form id="registerForm">
        <h1>REGISTRATE</h1>
        {{!-- <label>Nombre</label> --}}
        <input class="loginInput" placeholder="Nombre" name="first_name">
        <br/>
        {{!-- <label>Apellido</label> --}}
        <input class="loginInput" placeholder="Apellido" name="last_name">
        <br/>
        {{!-- <label>Email</label> --}}
        <input class="loginInput" placeholder="Email" name="email">
        <br/>
        {{!-- <label>Edad</label> --}}
        <input class="loginInput" placeholder="Edad" name="age">
        <br/>
        {{!-- <label>Contraseña</label> --}}
        <input class="loginInput" placeholder="Contraseña" name="password" type="password">
        <br/>
        <input class="loginSubmit" type="submit">
            <p>Si ya tenes cuenta <a class="linkRegister" href="/login">ingresa aqui!</a></p>

    </form>
</div>

<script src="/js/register.js"></script>
{{!-- <script src="../public/js/register.js"></script> --}}

