html, body {
  font-family: Arial, sans-serif;
  text-align: center;
  height: 100%;
  margin: 0;
  padding: 0;
}
.registerContainer {
  width: 100%;
  height: 100%;
  background-image: url(../Wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#registerForm {
  position: relative;
  margin: 0 auto;
  display: block;
  height: 30rem;
  width: 22rem;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;

  top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#registerForm p {
  color: white;
}
#registerForm h1 {
  color: white;
}

.backgroundLogin {
  width: 100%;
  height: 100%;
  background-image: url("../Wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  }

  .backgroundLogin .title  {
    top:10%;
    right: 10%;
    color: white;
    display: flex;
    font-size: 3rem;
    position: relative;
    top: 10%;
    left: 10%;
    color: white;
    flex-direction: row;
    text-align: left;
  }
  .loginFormContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 10%;
    left: 10%;
    height: 30rem;
    width: 22rem;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
    justify-content: space-around;
    align-items: center;
}
.loginInput{
  height: 2rem;
  margin-bottom: 1rem;
  border: none;
  box-shadow: #333;
}
.loginInput::placeholder{
  font-size: 18px;
  padding-left: 0.5rem;
}
.loginSubmit {
  cursor:pointer;
  width: 12rem;
  background:#47b865e5;
  height: 2rem;
  border-radius: 10px;
  font-size: 18px;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.notRegister {
  color: white;
}

h1 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.container {
  width: 500px;
  margin: 0 auto;
}

.chat-input {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.chat-input i {
  margin-right: 10px;
}

.chat-input input {
  flex-grow: 1;
  padding: 5px;
  border: 1px solid #ccc;
}

.message-logs {
  border: 1px solid #ccc;
  padding: 10px;
  height: 200px;
  overflow-y: auto;
}

.message {
  margin-bottom: 10px;
}

.message .sender {
  font-weight: bold;
  margin-right: 5px;
}

.message .content {
  display: inline-block;
  background-color: #f2f2f2;
  padding: 5px 10px;
  border-radius: 10px;
}



/* >>>>>El Navbar>>>>>>>>>>> */


nav {
  position: fixed;
  display: flex;
  width: 100%;
  background-color:#333;
  box-shadow: 0px 3px 20px 3px #162433;
}

.logo {
  margin-right: 20px;
  padding: 10px;
}

.logo img {
  vertical-align: middle;
}

.nav-links {
  list-style-type: none;
  display: flex;
  margin: 0 auto;
  align-items: center;
  flex-direction: row;
  list-style: none;
}
.nav-links li {
  margin-right: 10px;
}

.nav-links button {
  text-decoration: none;
  background-color: #f3ba70;
  padding: 0 20px;
  border-radius: 5px;
  font-size: 16px;
  height: 45px;
  transition: background-color 0.3s ease;
  background-color: #fff;
}
.nav-links button a {
  color: black;
  text-decoration: none;
}
.nav-links button:hover {
  background-color: #f29808;
}
.nav-links button a:hover {
  color: rgb(255, 255, 255);
}

.profileDropdown {
position: fixed;
right: 0;
border-radius: none;
border: 0px;
}

.profileDropdown ul {
  list-style: none;
  background-color: #f3ba70;
	display: none;
	position: absolute; 
  top: 40px;
  right: 0px;
  padding-right: 20px;

}
.profileDropdown:hover > ul {
	display:inherit;
}
/* .profileDropdown p { */
	/* width:170px;
	float:none;
	display:list-item;
	position: relative; */
/* } */
.profileData {
  padding: 10px 5px;
  border-bottom: 2px solid white;
}
.logout {
  background-color: #f23f08 !important;
  margin: 10px 0px;
  width: 120px;
}
.linkRegister {
  color: #50d9f9;
  text-decoration: none;
}
.githubPass{
  display: flex;
  width: auto;
  height: 3.5rem;
  background-color: #1B1F23;
  align-items: center;
}
.githubPass a{
  text-decoration: none;
  color: white;
  padding: 5px 10px;
}
.githublogo {
  width: 50px;
}
/* >>>>>>>>>>>>>>>>>>>>> */


/* Estilos generales */


.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  margin-top: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

/* Products List View */

.productsContainer {
padding: 8rem 2rem;
}

#productsTable {
  border: 1px outset rgba(0, 0, 0, 0.317);
}

#productsTable th {
  margin: 1px solid black;
  text-align: center;
  background-color: #838383;
}

#productsTable td {
  vertical-align: middle;
}

#productsTable tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

#productsTable tbody tr:hover {
  background-color: #f3ba70;
}
.productDetail {
  text-align: center;

}
.productDetail a {
  padding: 20px;
  font-size: 18px;
  text-decoration: none;
}
.productAdd input {
  font-size: 18px;
}
.productDetail:hover{
  background-color: #f29808;
}
.productAdd:hover {
  background-color: #f29808;
}
.buttonHasPage {
  color: black;
  text-decoration: none;
  background-color: #f3ba70;
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 18px;
  height: 45px;
  transition: background-color 0.3s ease;
}
